<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Lampager CakePHP Test Suite">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="\Cake\TestSuite\Fixture\PHPUnitExtension" />
    </extensions>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml" />
            <html outputDirectory="build/coverage" />
        </report>
    </coverage>

    <php>
        <ini name="date.timezone" value="UTC" />
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>
</phpunit>
